doctype html
html
  head
    title = "Hello Pug"
  body
    p.greetings#people Hello World!
    h1 Welcome to pug
    div
      | Insert multiline text,
      | Use pipe operator.

    div.
      Use the "." at the end of text.
      Put tags inside block.
